<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <br>
<p>
  <div class="not-found content">
    <h1>
      404 - page not found!
    </h1>
   
  </div>
</p>
  
<br><br>
</body>
</html>