<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <h1>Login Failure!</h1>
  <div class="login-failure"></div>
    <p>You entered the wrong password! <br><br>
      Try to <a href="/login">login</a> again
    </p>
    <p>Or 
       <a href="/register">register here</a>
    </p>
  </div>

</body>
</html>